@import "_nullstyle.scss";


button{
    width: 250px;
    height: 50px;
    background-color: #ffe66b;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
    &:hover{
        background-color: pink;
        color: #fff;
    }
}

.circle{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 100%;
    margin-top: 10px;
}

textarea{
    border: 2px solid black;
}